.calculator {
    width: 600px;
    background-color: grey;
    border-radius: 30px;
    padding: 20px;
}

.calc-display {
    font-size: 22px;
    padding: 30px;
    border: solid 3px;
    margin-bottom: 15px;
    border-radius: 10px;

    box-shadow: 0px 0px 3px;
}

.calc-buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.button {
    font-size: 22px;
    width: calc((100% - 30px) / 4);
    padding: 30px;
    border-radius: 15px;
    
    box-shadow: 1px 2px 2px;
}

.button:hover {
    background-color: rgb(100, 100, 100);
}

.operator {
    background-color: orange;
}

.operator:hover {
    background-color: rgb(240, 130, 0);
}
